@import "monokai.css";

body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #000000;
    color: #dddddd;
    max-width: 720px;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

nav {
    padding-bottom: 1em;
    padding-left: 1em;
    font-weight: bolder;
}

.container {
    background-color: #222222;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
